// COLORS ==================================================================================================================================================================================================================
$p_txt: #f9f9f9;
$s_txt: #b3b3b3;

$black: #121212;

$dark_grey: #2a2a2a;
$light_grey: #b3b3b3;

$green: #1DB954;

// SIZES ==================================================================================================================================================================================================================
$b_rad: 15px;